@use "../abstracts/variables" as var;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as mix;

.card {
  position: relative;
  overflow: hidden;

  @include mix.flexCol(stretch, center);
  border: 2px solid currentColor;
  border-radius: rem(20);

  &__body {
    position: relative;
    background-color: map-get($map: var.$colors, $key: neutral-light);
    border-top: 2px solid currentColor;

    @include mix.flexCol(flex-start, center);
    padding: 1.5em;
  }

  &__btn {
    position: absolute;
    top: -25%;
    right: 10%;
  }

  &_overlay {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to bottom, transparent, black);
    }

    border-radius: rem(10);

    h3 {
      color: map-get($map: var.$colors, $key: neutral-light);
      border-radius: rem(10);
    }
  }

  &_overlay &__body {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
  }
}
