@use "../abstracts/variables" as var;

.btn {
  &_link:hover::after {
    transform: scaleX(1);
  }

  &_primary:hover::before {
    transform: scaleX(1);
  }

  &_arrow:hover::after {
    transform: scaleX(1.1) translateX(4px);
  }

  &_control:hover {
    background-color: map-get($map: var.$colors, $key: accent);
  }
}
