@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as mix;

body {
  @include mix.mq(tabletLandscape) {
    text-align: start;
  }
}

header {
  @include mix.mq(tabletLandscape) {
    padding-inline: 10%;
  }
}

section {
  @include mix.mq(tabletLandscape) {
    column-gap: rem(85);
    margin-bottom: rem(165);

    h2 {
      align-self: flex-start;
      margin-left: 8%;
    }
  }
}

#intro {
  @include mix.mq(tabletLandscape) {
    flex-direction: row-reverse;
    column-gap: 7%;
    padding-inline: 10%;

    @at-root .intro__hero {
      flex: 2;
    }
    @at-root .intro__text {
      flex: 1;
      align-items: flex-start;

      p {
        max-width: 100%;
      }
    }

    @at-root .intro__circle {
      width: clamp(rem(245), 100%, rem(450));
    }

    @media screen and (min-height: 800px) {
      @at-root .intro__text {
        margin-top: 200px;
      }
    }
  }
}

#new-arrivals {
  @include mix.mq(tabletLandscape) {
    @at-root .new-arrivals__carousel-container {
      width: 100%;
      padding-block: rem(150);
      margin-bottom: 60px;
    }

    @at-root .new-arrivals__carousel {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      .carousel__items {
        width: 85%;
      }
    }
  }
}

footer {
  @include mix.mq(tabletPortrait) {
    .footer__content {
      flex-direction: row;
    }

    .footer__section {
      max-width: 30%;
    }
  }
}
