@use "./functions" as *;

/*-------------------------------
            COLORS
---------------------------------*/
$colors: (
  primary-light: hsl(21, 95%, 61%),
  primary-dark: hsl(21, 88%, 19%),
  accent: hsl(210, 48%, 51%),
  neutral-light: hsl(0, 0%, 99%),
  neutral-dark: hsl(0, 0%, 0%),
  bg: hsl(68, 100%, 98%),
);

/*-------------------------------
            TYPOGRAPHY
---------------------------------*/
$font-families: (
  primary: (
    "Rubik",
    sans-serif,
  ),
  neutral: (
    "Poppins",
    sans-serif,
  ),
);
$font-sizes: (
  h1: clamp(rem(64), 10vw, rem(80)),
  h2: rem(36),
  h3: rem(24),
  neutral: clamp(rem(12), 3vw, rem(16)),
  small: rem(16),
);
$font-weights: (
  h1: 900,
  h2: 800,
  h3: 700,
  accent: 400,
  neutral: 300,
);

/*-------------------------------
            BREAKPOINTS
---------------------------------*/
$breakpoints: (
  phone: 375px,
  tabletPortrait: 769px,
  tabletLandscape: 1024px,
  laptop: 1280px,
);
