@use "./abstracts/functions" as *;
@use "./abstracts/mixins" as mix;
@use "./abstracts/variables" as var;

body {
  text-align: center;
  position: relative;
}

main {
  overflow: hidden;
}

header,
#intro {
  padding-inline: 8%;
}

header {
  padding-top: 40px;
  margin-bottom: rem(80);
}

section {
  @include mix.flexCol(center, space-between);
  row-gap: rem(35);
  margin-bottom: rem(150);
}

#intro {
  position: relative;
  row-gap: rem(50);

  @at-root .intro__circle {
    width: clamp(rem(245), 70%, rem(625));
  }

  @at-root .intro__carousel {
    width: 100%;
    position: relative;
    @include mix.flexRow(stretch, center);

    .carousel__items {
      position: absolute;
      width: 90%;
      z-index: 1000;
    }
  }

  @at-root .intro__sneaker {
    max-width: rem(725);
    width: clamp(rem(340), 60vw, rem(725));
    filter: drop-shadow(0px 7px 4px hsla(24, 94%, 20%, 0.822));
  }

  @at-root .intro__text {
    @include mix.flexCol(center, center);
    row-gap: rem(19);

    h1,
    p {
      max-width: 70%;
    }
  }

  @at-root .intro__cta {
    margin-top: rem(20);
    @include mix.flexRow(center, center);
    column-gap: rem(30);
  }
}

#new-arrivals {
  @at-root .new-arrivals__carousel-container {
    position: relative;
    width: 100%;
    padding-block: rem(30);
    background-color: map-get($map: var.$colors, $key: primary-light);
  }

  @at-root .new-arrivals__carousel {
    .carousel__items {
      width: 90%;
    }
  }

  .slick-track {
    column-gap: 2em;
  }
}

#see-also {
  @at-root .see-also__carousel {
    width: 100%;
  }

  .slick-track {
    column-gap: 0.5em;
  }
}

#brands {
  @at-root .brands__carousel {
    width: 100%;
  }

  .slick-track {
    column-gap: 0.5em;
  }
}

footer {
  .footer__content {
    @include mix.flexCol(flex-start, space-between);
    row-gap: rem(30);
  }

  text-align: start;
  padding: 4em 8%;

  @at-root .footer__section {
    @include mix.flexCol(flex-start, center);
    row-gap: 1em;
    max-width: 45%;
  }

  @at-root .footer__social {
    @include mix.flexRow(center, flex-start);
    column-gap: rem(10);
  }

  @at-root .footer__form {
    @include mix.flexCol(flex-start, center);
    row-gap: rem(20);
  }

  .copy {
    margin-top: 4em;
  }
}

.sidebar {
  position: absolute;
  inset: 0;
  z-index: 10000;
  display: none;
}
