@use "./abstracts/functions" as *;
@use "./abstracts/mixins" as mix;

body {
  text-align: center;
}

main {
  overflow: hidden;
}

header,
#intro {
  padding-inline: 8%;
}

header {
  padding-top: 40px;
  margin-bottom: rem(80);
}

#intro {
  position: relative;

  @include mix.flexCol(center, space-between);
  row-gap: rem(50);

  @at-root .intro__hero {
    position: relative;
    @include mix.flexRow(center, center);
  }

  @at-root .intro__circle {
    width: clamp(rem(245), 70%, rem(625));
  }

  @at-root .intro__sneaker {
    max-width: none;
    position: absolute;
    width: clamp(rem(340), 100%, rem(870));
  }

  @at-root .intro__text {
    @include mix.flexCol(center, center);
    row-gap: rem(19);

    h1,
    p {
      max-width: 70%;
    }
  }

  @at-root .intro__cta {
    margin-top: rem(20);
    @include mix.flexRow(center, center);
    column-gap: rem(30);
  }
}
